.menu{
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 350;
    color: white;
}
body{
    margin: 0px;
    background-color: yellow;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    border-radius: 20px;
    background-color: grey;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}